
<div class="container row col-8 mx-auto">
 <div class="card">
  <%= @question %>
  <p> <i> -You </i> </p>
 </div>

<div class=card_coach>
<%= @answer %>
<p> <i> -Your Coach </i> </p>
</div>
<%= link_to "Ask a new question", ask_path %>
</div>
